<%= form_for @plum do |f| %>
 
  <% if @plum.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@plum.errors.count, "error") %> prohibited
        this plum from being saved:
      </h2>
      <ul>
        <% @plum.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :address %><br>
  <%= f.text_area :address %>
</p>
<p>
  <%= f.label :city %><br>
  <%= f.text_field :city %>
</p>
<p>
  <%= f.label :country %><br>
 <%= f.select :country, [['USA'], ['INDIA'], ['UAE'], ['AUSTRALIA'], ['CANADA']] %>
</p>
<p>
  <%= f.label :phone %><br>
  <%= f.text_field :phone %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
